.bigwrapper{
    width: 100%;
     height: 1000px;   /*<--- не забыть адаптировать*/   
     color: white; 
     
}

.Wrapper {
    font-size: 2em;
    
}
.WhatWillYouFind{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    
}
ul{
    float: left;
    margin-left: 40px;
    margin-top: 50px;
}
