
.Bigwrapper{
    display: flex;
    justify-content: center; 
    width: calc(100% - 20px);
    margin-left: 10px;
}

.sidecall{
    transform: translateY(-90%);
    transition: 1s;
    
}
.sidecall:hover{
    transform: translateY(0%);
    transition: 1s;
    
}
.WhereYouAt{
    color: black;
    
}

/* .WhereYouAt:hover{
    transform:scale(1.4)
}

.else:hover{
    transform:scale(1.2)
} */

li{
    font-size: 3em;
    margin-right: 20px;
    padding: 10px;
    
    
}
.else {
    position: relative;
    top: 0;
    z-index: 2;
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    cursor: pointer;
    transition: 0.5s linear;
    
  }
  .else:hover {
    top: 20px;
  }
