
.obortka{
    transform: translateX(-240px);
    border: 2px solid black;
    position: absolute;
    /* height: 700px; */
    width: 250px;
    background-color: rgb(128, 32, 32);
    margin-top: 10%;
    transition: 1s;
    border-radius: 10px;
}
.obortka:hover{
    transition: 1s;
    transform: translateX(0px);
}
.ssilka{
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: 1s ;
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin-top: 10px;
}
.ssilka:hover{
    color: white;
    left: 30px;
    
}